test-results
node_modules
test-env

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
build
test-results

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
coverage
test-results
**/__screenshots__

