volumes:
  prometheus-data: {}
  grafana-data: {}
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    ports:
      - 8000:8000

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - prometheus-data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      # - ./alert-rules.yml:/etc/prometheus/alert-rules.yml:ro
    depends_on:
      - api
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  # alertmanager:
  #   image: prom/alertmanager
  #   container_name: alertmanager
  #   volumes:
  #     - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
  #   command:
  #     - "--config.file=/etc/alertmanager/alertmanager.yml"
  #   ports:
  #     - "9093:9093"

  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning/
    ports:
      - 3000:3000
    depends_on:
      - prometheus

  loki:
    image: grafana/loki:2.8.2
    container_name: loki
    ports:
      - 3100:3100
    volumes:
      - ./loki-config.yml:/etc/loki/local-config.yaml
    command:
      - "-config.file=/etc/loki/local-config.yaml"

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - "-config.file=/etc/promtail/config.yml"
    depends_on:
      - loki
