name: build and push docker image
on:
  push:
    branches:
      - main
      - "releases/*"
    paths:
      - "client/**"
  pull_request:
    branches:
      - "*"
    paths:
      - "client/**"
env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  IMAGE_NAME: ghcr.io/mrc-ide/mint-frontend

jobs:
  build-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: client/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.BRANCH_NAME }}
            ${{ env.BRANCH_NAME == 'main' && format('{0}:latest', env.IMAGE_NAME) || '' }}
