name: python server docker build and push
on:
    push:
        branches:
            - main
            - "releases/*"
        paths:
            - "server-python/**"
    pull_request:
        branches:
            - "*"
        paths:
            - "server-python/**"
env:
    BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    IMAGE_NAME: ghcr.io/mrc-ide/mint-api
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Free Disk Space (Ubuntu)
              uses: jlumbroso/free-disk-space@main
              with:
                  tool-cache: false
            - name: Checkout repository
              uses: actions/checkout@v5
            - name: Login to Github Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.actor}}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build and push Docker image
              uses: Docker/build-push-action@v6
              with:
                  context: server-python
                  file: server-python/Dockerfile
                  push: true
                  tags: |
                      ${{ env.IMAGE_NAME }}:${{ env.BRANCH_NAME }}
                      ${{ env.BRANCH_NAME == 'main' && format('{0}:latest', env.IMAGE_NAME) || '' }}
